<div>
  <div class="row mb-5">
      <div class="col-md-6 my-3">
          
          <div class="card my-card border border-curved text-center" onclick="location.href='import.html'">
              <!-- <img src="images/import.jpg" alt="" class="card-img-top mx-auto"> -->
              <div class="card-body">
                  <h4 class="card-title display-4">Import Data</h4>
              </div>
          </div>
          
      </div>
      
      <div class="col-md-6 my-3">
          
          <div class="card my-card border border-curved text-center" onclick="location.href='manage-company.html'">
              <!-- <img src="images/import.jpg" alt="" class="card-img-top mx-auto"> -->
              <div class="card-body">
                  <h4 class="card-title display-4">Manage Company</h4>
              </div>
          </div>
          
      </div>

      <div class="col-md-6 my-3">
          
          <div class="card my-card border border-curved text-center" onclick="location.href='manage-stock-exchanges.html'">
              <!-- <img src="images/import.jpg" alt="" class="card-img-top mx-auto"> -->
              <div class="card-body">
                  <h4 class="card-title display-4">Manage Exchanges</h4>
              </div>
          </div>
          
      </div>

      <div class="col-md-6 my-3">
          
          <div class="card my-card border border-curved text-center" onclick="location.href='add-ipo.html'">
              <!-- <img src="images/import.jpg" alt="" class="card-img-top mx-auto"> -->
              <div class="card-body">
                  <h4 class="card-title display-4">Add IPO Details</h4>
              </div>
          </div>
          
      </div>
  </div>
</div>