<h1 class="text-center text-uppercase">Stock Exchanges</h1>

            <div class="col-9 mx-auto">
                <table class="table my-4">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Stock Exchange</th>
                            <th>Brief</th>
                            <th>Contact Address</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>BSE</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quod.</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ratione ipsum enim dicta cupiditate voluptatem adipisci cumque corporis non excepturi.</td>
                            <td>Good</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>NSE</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, natus.</td>
                            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit voluptatem expedita soluta similique? Expedita enim ut praesentium tempore. Earum, exercitationem.</td>
                            <td>Good</td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-block btn-outline-secondary" onclick="location.href='add-stock-exchange.html'">Add Stock Exchange</button>
            </div>