
    <div class="row py-5 py-md-4 py-3">
            <div class="col-lg-9 col-md-10 col-12 mx-auto">
                <table class="table border-curved p-1 p-md-3 p-lg-5">
                    <caption style="caption-side: top;"><h1 class="text-center text-uppercase" >Stock Exchanges</h1></caption>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Stock Exchange</th>
                            <th>Brief</th>
                            <th>Contact Address</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>BSE</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quod.</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ratione ipsum enim dicta cupiditate voluptatem adipisci cumque corporis non excepturi.</td>
                            <td>Good</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>NSE</td>
                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, natus.</td>
                            <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit voluptatem expedita soluta similique? Expedita enim ut praesentium tempore. Earum, exercitationem.</td>
                            <td>Good</td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-block btn-outline-secondary" routerLink="/add-stock-exchange">Add Stock Exchange</button>
            </div>
        </div>