<div>
    <div class="row mb-5 pt-5">
        
        
        <div class="col-md-6 my-3">
            
            <div class="card my-card border border-curved text-center h-100" routerLink="">
                <div class="card-body">
                    <h4 class="card-title display-4">Compare Company</h4>
                </div>
            </div>
            
        </div>
  
        <div class="col-md-6 my-3">
            
            <div class="card my-card border border-curved text-center h-100" routerLink="">
                <div class="card-body">
                    <h4 class="card-title display-4">Compare Sectors</h4>
                </div>
            </div>
            
        </div>

        <div class="col-md-6 my-3">
            
            <div class="card my-card border border-curved text-center h-100" routerLink="/view-ipos">
                  <div class="card-body">
                      <h4 class="card-title display-4">Display IPO</h4>
                  </div>
            </div>
            
        </div>
  
        <!-- <div class="col-md-6 my-3">
            
            <div class="card my-card border border-curved text-center h-100" routerLink="/add-ipo">
                <div class="card-body">
                    <h4 class="card-title display-4">Add IPO Details</h4>
                </div>
            </div>
            
        </div> -->
    </div>
  </div>