<div>
  <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-1"></div>
      <div class="col-lg-6 col-md-8 col-sm-10">
        <form action="" class="form-group border p-3 p-lg-5 border-curved mt-5">
          <p class="h2 text-muted text-uppercase text-center mb-3 ">Login</p>
       

          <label for="username">Username:</label>
          <input type="text" class="form-control" placeholder="Your Username">

          <label for="password">Password:</label>
          <input type="password" class="form-control" placeholder="Your Password">

          <p class="text-center my-2 w-100"><a href="reset.html">Forget Password? Click Here to Reset.</a></p>
          <p class="text-center w-100 my-2"><a href="register.html">Don't Have an Account? Click Here to Create.</a></p>
          <button class="btn btn-outline-success text-dark text-center form-control">Login</button>
        </form>
      </div>
  </div>
</div>