<div id="body" class="container mt-5">
  <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <form action="" class="form-group border p-5 border-curved mt-5">
          <p class="h1 text-muted text-uppercase text-center mb-3">Login</p>
       

          <label for="username">Username:</label>
          <input type="text" class="form-control" placeholder="Your Username">

          <label for="password">Password:</label>
          <input type="password" class="form-control" placeholder="Your Password">

          <p class="text-center my-2 w-100"><a href="reset.html">Forget Password? Click Here to Reset.</a></p>
          <p class="text-center w-100 my-2"><a href="register.html">Don't Have an Account? Click Here to Create.</a></p>
          <button class="btn btn-outline-success text-dark text-center form-control">Login</button>
        </form>
      </div>
  </div>
</div>