<section>
    <article>
        <header class="text-center">
            <h2>Contact Details</h2>
        </header>
        <table class="table">
            <tr>
                <td><img src="../../../assets/images/call.png" height="25" width="25"></td>
                <td><b>Call:</b> +91 630 497 3550</td>
            </tr>
            <tr>
                <td><img src="../../../assets/images/whatsapp.png" height="25" width="25"></td>
                <td><b>WhatsApp:</b> +91 630 497 3550</td>
            </tr>
            <tr>
                <td><img src="../../../assets/images/gmail.png" height="25" width="25"></td>
                <td><b>Gmail:</b> ehsan.razvi786@gmail.com</td>
            </tr>
            <tr>
                <td><img src="../../../assets/images/instagram.jpg" height="25" width="25"></td>
                <td><b>Instagram:</b> <a href="https://www.instagram.com/razvi_2.0/" style="color: blue; text-decoration: underline;" target="_blank">Ehsan Razvi</a></td>
            </tr>
            <tr>
                <td><img src="../../../assets/images/facebook3.png" height="25" width="25"></td>
                <td><b>Facebook:</b> <a href="https://www.facebook.com/razvi.110.786" style="color: blue; text-decoration: underline;" target="_blank">Ehsàñ Ràzvì</a></td>
            </tr>
            <tr>
                <td><img src="../../../assets/images/linkedin.png" height="25" width="25"> </td>
                <td><b>LinkedIn:</b> <a href="https://www.linkedin.com/in/ehsan-razvi-977bb7195" style="color: blue; text-decoration: underline;" target="_blank"> Ehsan Razvi</a></td>
            </tr>
        </table>
    </article>
</section>