<div class="row py-5 py-md-4 py-3">
  <div class="col mx-auto table-responsive">
    <h1 *ngIf="!ipos" class=" h2 text-center text-uppercase">No IPOs Found</h1>
    <table *ngIf="ipos" class="table border-curved p-1 p-md-3 p-lg-5">
      <caption style="caption-side: top;">
        <h1 class=" h2 text-center text-uppercase">All IPOs</h1>
      </caption>
      <thead>
        <th>Id</th>
        <th>Company Name</th>
        <th>Stock Exchange</th>
        <th>Price Per Share</th>
        <th>Total Shares</th>
        <th>Open Date Time</th>
        <th>Remarks</th>
      </thead>
      <tbody *ngFor="let ipo of ipos">
        <td>{{ipo.id}}</td>
        <td>{{ipo.company_name}}</td>
        <td>{{ipo.stock_exchange}}</td>
        <td>{{ipo.price_per_share}}</td>
        <td>{{ipo.total_shares}}</td>
        <td>{{ipo.open_date_time | date:'MMMM d, y \'at\' h:mm:ss a'}}</td>
        <td>{{ipo.remarks}}</td>
      </tbody>
    </table>
  </div>
</div>