<div class="row">
  <div class="col-lg-3 col-md-2 col-sm-1"></div>
  <div class="col-lg-6 col-md-8 col-sm-10">
    <form action="" class="form-group border p-3 p-lg-5 border-curved mt-5">
      <p class="h2 text-muted text-uppercase text-center mb-3">Import (Excel)</p>
   
      <input type="file" name="upload" id="" class="form-control-file mt-4">
      <small class="form-text text-muted mb-2" id="fileHelp">Max 3mb size</small>

      <p class="text-center w-100 mb-4"><a href="../../assets/files/sample_stock_data.xlsx">Download Sample File (.xlsx)</a></p>
      
      <button class="btn btn-outline-success text-dark text-center form-control">Import</button>
    </form>
  </div>
</div>