<div>
  <div class="row mb-5 pt-5">
      <div class="col-md-6 my-3">
          
          <div class="card my-card border border-curved text-center h-100" routerLink="/import-data">
                <div class="card-body">
                    <h4 class="card-title display-4">Import Data</h4>
                </div>
          </div>
          
      </div>
      
      <div class="col-md-6 my-3">
          
          <div class="card my-card border border-curved text-center h-100" routerLink="/manage-company">
              <div class="card-body">
                  <h4 class="card-title display-4">Manage Company</h4>
              </div>
          </div>
          
      </div>

      <div class="col-md-6 my-3">
          
          <div class="card my-card border border-curved text-center h-100" routerLink="/manage-stock-exchange">
              <div class="card-body">
                  <h4 class="card-title display-4">Manage Exchanges</h4>
              </div>
          </div>
          
      </div>

      <div class="col-md-6 my-3">
          
          <div class="card my-card border border-curved text-center h-100" routerLink="/add-ipo">
              <div class="card-body">
                  <h4 class="card-title display-4">Add IPO Details</h4>
              </div>
          </div>
          
      </div>
  </div>
</div>