<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <form [formGroup]="addSP" (ngSubmit)="addSp()" class="form-group border p-5 border-curved mt-5">
        <p class="h2 text-muted text-uppercase text-center mb-4">Stock Price</p>
        <div *ngFor="let error of errors" class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{error}}</strong>
        </div>

        <label for="company_code">Company Name:</label>
        <select class="form-control" formControlName="company_name" [(ngModel)]="selected_company" (change)="filterCompanies()">
            <option value="" selected disabled>Select Company Name</option>
            <option *ngFor="let c of companies" [value]="c.name">{{c.name}}</option>
        </select>

        <label for="stock_exchange">Stock Exchange:</label>
        <select class="form-control" formControlName="stock_exchange" [(ngModel)]="selected_stock_exchange" (change)="selectCompanyCode()">
            <option value="" disabled selected>Select Stock Exchange</option>
            <option *ngFor="let se of stock_exchanges" [value]="se">{{se}}</option>
        </select>

        <label for="date">Date:</label>
        <input type="date" class="form-control" placeholder="Date" formControlName="date">

        <label for="time">Time:</label>
        <input type="time" class="form-control" placeholder="Time" formControlName="time">

        <label for="current_price">Current Price:</label>
        <input type="number" class="form-control" placeholder="Current Price" formControlName="current_price">
  
        <button class="btn btn-outline-success text-dark text-center form-control mt-3" [disabled]="!addSP.valid">Add Stock Price</button>
      </form>
    </div>
  </div>