<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <form [formGroup]="updateFormGroup" class="form-group border p-5 border-curved mt-5">
      <p class="h2 text-muted text-uppercase text-center mb-4">Update Company</p>
   
      <label for="id">ID:</label>
      <input type="number" name="id" formControlName="id" class="form-control" placeholder="Company ID" disabled>

      <label for="username">Company Name:</label>
      <input type="text" class="form-control" placeholder="Name of Company" formControlName="name">

      <label for="username">Turnover:</label>
      <input type="text" class="form-control" placeholder="Company Turnover" formControlName="turnover">

      <label for="username">CEO:</label>
      <input type="text" class="form-control" placeholder="CEO of Company" formControlName="ceo">

      <!-- <label for="username">Board of Director:</label>
      <input type="text" class="form-control mb-4" placeholder="Board of Director of Company" formControlName="board_of_directors">

      <label for="username">Listed in Stock Exchanges:</label><br>
      <small class="text-info">Hold [Ctrl] to Select Multiple Stock Exchanges</small>
      <select class="form-control" name="listed" id="" multiple size="2" formControlName="listed_in_stock_exchanges">
          <option value="bse">BSE</option>
          <option value="nse">NSE</option>
      </select> -->

      <label for="username">Sector:</label>
      <input type="text" class="form-control" placeholder="Name of Sector" formControlName="sector">

      <label for="username">Brief:</label>
      <textarea class="form-control" name="brief" id="" cols="30" rows="3" placeholder="Brief Information about Company" formControlName="brief"></textarea>

      <label for="username">Stock Code:</label>
      <input type="text" class="form-control mb-4" placeholder="Unique Stock Code" formControlName="stock_code">

      <button class="btn btn-warning text-dark text-center form-control" (click)="updateThisCompany()">Update Company</button>
    </form>
  </div>
</div>