<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" routerLink="">
            <img class="avatar" src="../assets/images/syed-logo.svg" alt="Stock Logo">
        </a>
        <a routerLink="" class="h3 nav-link text-dark">StockMarket</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="collNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a routerLink="" class="nav-link text-center">Home</a>
                </li>
                <li *ngIf="!authService.isUserLoggedIn()" class="nav-item">
                    <a routerLink="login" class="nav-link text-center">Login</a>
                </li>
                <li *ngIf="!authService.isUserLoggedIn()" class="nav-item">
                    <a routerLink="register" class="nav-link text-center">Register</a>
                </li>
                <li *ngIf="authService.isAdmin()" class="nav-item">
                    <a routerLink="admin" class="nav-link text-center">Admin</a>
                </li>
                <li *ngIf="authService.isUserLoggedIn()" class="nav-item">
                    <a routerLink="user" class="nav-link text-center">User</a>
                </li>
                <li *ngIf="authService.isUserLoggedIn()" class="nav-item">
                    <a routerLink="/search" class="nav-link text-center">Search</a>
                </li>
                <li *ngIf="authService.isUserLoggedIn()" class="nav-item">
                    <a routerLink="/user-profile" class="nav-link text-center">Profile</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact-us" class="nav-link text-center">Contact Us</a>
                </li>
                <li *ngIf="authService.isUserLoggedIn()" class="nav-item">
                    <a routerLink="/logout" class="nav-link text-danger text-center">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div id="body" class="container my-5">
        <router-outlet></router-outlet>
    </div>
</main>

<footer class="page-footer bg-secondary p-3 container-fluid mt-5">
  <div class="row">
      <div class="col-3 text-center responsive-logo">
          <i class="fas fa-copyright fa-2x text-light mx-2"></i>
      </div>
      <div class="col-6 text-center ">
          <p class="font-italic text-light h5 responsive-footer">Created by: Syed Ehsan Ali Razvi</p>
      </div>
      <div class="col">
          <a href="">
              
          </a>
          <a href="">

          </a>
          <a href="">

          </a>
          <a href="">

          </a>
      </div>
  </div>
</footer>