<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <form action="" class="form-group border p-5 border-curved mt-5">
      <p class="h1 text-muted text-uppercase text-center mb-3">Reset Password</p>
      
      <label for="username">Enter Your Username:</label>
      <input class="form-control mb-4" type="text" name="username" id="" placeholder="Your Username">
      
      <button class="btn btn-outline-success text-dark text-center form-control" onclick="location.href='reset-code.html'">Reset</button>
    </form>
  </div>
</div>