<div class="row py-5 py-md-4 py-3">
  <div class="col mx-auto table-responsive">
    <table class="table border-curved p-1 p-md-3 p-lg-5">
      <caption style="caption-side: top;">
        <h1 class="h2 text-center text-uppercase">Companies</h1>
      </caption>
      <thead>
        <tr>
          <th>Id</th>
          <th>Company Name</th>
          <th>Turnover</th>
          <th>CEO</th>
          <th>Board Of Directors</th>
          <th>Listed In Stock Exchanges</th>
          <th>Sector</th>
          <th>Brief</th>
          <th>Stock Code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let company of companies">
        <tr>
          <td>{{company.id}}</td>
          <td>{{company.name}}</td>
          <td>{{company.turnover}}</td>
          <td>{{company.ceo}}</td>
          <td>{{company.board_of_directors}}</td>
          <td>{{company.listed_in_stock_exchanges}}</td>
          <td>{{company.sector}}</td>
          <td>{{company.brief}}</td>
          <td>{{company.stock_code}}</td>
          <td><button class="btn btn-warning mx-auto m-2" (click)="updateCompany(company)">Update</button><button
              class="btn btn-danger mx-auto m-2" data-toggle="modal" data-target="#deactivate"
              (click)="deactivateCompany(company)">Deactivate</button></td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-block btn-outline-secondary" routerLink="/add-company">Add New Company</button>
  </div>
</div>

<div id="deactivate" class="modal fade" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are You Sure You Want To Deactivate This Company?</h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <button class="btn btn-block btn-danger text-white" (click)="deactivateThisCompany()"
          data-dismiss="modal">Confirm</button>
      </div>
      <div class="modal-footer">
        <button class="btn btn-block btn-outline-warning" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
