<div class="row py-5 py-md-4 py-3">
    <div class="col-12 mx-auto">
        <table class="table table-responsive border-curved p-1 p-md-3 p-lg-5">
            <caption style="caption-side: top;"><h1 class="text-center text-uppercase" >Companies</h1></caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Company Name</th>
                    <th>Turnover</th>
                    <th>CEO</th>
                    <th>Board Of Directors</th>
                    <th>Listed In Stock Exchanges</th>
                    <th>Sector</th>
                    <th>Brief</th>
                    <th>Stock Code</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let company of companies">
                <tr>
                    <td>{{company.id}}</td>
                    <td>{{company.name}}</td>
                    <td>{{company.turnover}}</td>
                    <td>{{company.ceo}}</td>
                    <td>{{company.board_of_directors}}</td>
                    <td>{{company.listed_in_stock_exchanges}}</td>
                    <td>{{company.sector}}</td>
                    <td>{{company.brief}}</td>
                    <td>{{company.stock_code}}</td>
                    <td><button class="btn btn-warning">Update</button><button class="btn btn-danger">Deactivate</button></td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-block btn-outline-secondary" routerLink="/add-stock-exchange">Add Stock Exchange</button>
    </div>
</div>