<div class="row mb-5">
  <div class="col-6 my-3">
      
      <div class="card my-card border border-curved text-center" onclick="location.href='add-company.html'">
          <img src="images/import.jpg" alt="" class="card-img-top mx-auto">
          <div class="card-body">
              <h4 class="card-title display-4">Add New Company</h4>
          </div>
      </div>
      
  </div>
  
  <div class="col-6 my-3">
      
      <div class="card my-card border border-curved text-center" onclick="location.href='update-company.html'">
          <img src="images/import.jpg" alt="" class="card-img-top mx-auto">
          <div class="card-body">
              <h4 class="card-title display-4">Update Existing Company</h4>
          </div>
      </div>
      
  </div>

  <div class="col-6 my-3">
      
      <div class="card my-card border border-curved text-center" onclick="location.href='deactivate-company.html'">
          <img src="images/import.jpg" alt="" class="card-img-top mx-auto">
          <div class="card-body">
              <h4 class="card-title display-4">Deactive Existing Company</h4>
          </div>
      </div>
      
  </div>

  <div class="col-6 my-3">
      
      <div class="card my-card border border-curved text-center" onclick="location.href='update-ipo.html'">
          <img src="images/import.jpg" alt="" class="card-img-top mx-auto">
          <div class="card-body">
              <h4 class="card-title display-4">Update IPO Details</h4>
          </div>
      </div>
      
  </div>
</div>