<div>
  <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-1"></div>
      <div class="col-lg-6 col-md-8 col-sm-10">
        <form [formGroup]="registerUser" class="form-group border p-3 p-lg-5 border-curved mt-5">
          <p class="h2 text-muted text-uppercase text-center mb-3 ">Registration</p>

          <label for="username">Username:</label>
          <input name="username" formControlName="username" type="text" class="form-control" placeholder="Your Username">

          <label for="password">Password:</label>
          <input name="password" formControlName="password" type="password" class="form-control" placeholder="Your Password">

          <label for="confirm-password">Confirm Password:</label>
          <input name="confirm-password" formControlName="confirm_password" type="password" class="form-control" placeholder="Confirm Password">

          <label for="email">Email:</label>
          <input name="email" formControlName="email" type="email" class="form-control" placeholder="Your Email">

          <label for="phone">Mobile Number:</label>
          <input name="phone" formControlName="phone" type="number" class="form-control" placeholder="Your Mobile Number">

          <p class="text-center w-100 my-2"><a routerLink="login">Already Have an Account? Click Here to Login.</a></p>

          <button class="btn btn-outline-success text-dark text-center form-control" (click)="addUser()" [disabled]="!registerUser.valid">Register</button>
        </form>
      </div>
  </div>
</div>