<div class="row py-5 py-md-4 py-3">
  <div class="col mx-auto table-responsive">
    <h1 *ngIf="!companies" class=" h2 text-center text-uppercase">No Companies Found</h1>
    <table *ngIf="companies" class="table border-curved p-1 p-md-3 p-lg-5">
      <caption style="caption-side: top;">
        <h1 class="h2 text-center text-uppercase">Companies</h1>
      </caption>
      <thead>
        <tr>
          <th>Id</th>
          <th>Company Name</th>
          <th>Turnover</th>
          <th>CEO</th>
          <th>Listed In Stock Exchanges</th>
          <th>Board Of Directors</th>
          <th>Sector</th>
          <th>Brief</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let company of companies">
        <tr>
          <td>{{company.id}}</td>
          <td>{{company.name}}</td>
          <td>{{company.turnover}}</td>
          <td>{{company.ceo}}</td>
          <td>
            <span *ngFor="let listed of company.listedIn">
              {{listed.stockExchangeName}}:{{listed.stockCode}}
            </span>
          </td>
          <td>{{company.directors}}</td>
          <td>{{company.sector}}</td>
          <td>{{company.brief}}</td>
          <td><button class="btn btn-warning mx-auto m-2" (click)="updateCompany(company)">Update</button>
            <button *ngIf="company.activated" class="btn btn-danger mx-auto m-2"
              (click)="deactivateCompany(company)">Deactivate</button>
            <button *ngIf="!company.activated" class="btn btn-success mx-auto m-2"
              (click)="activateCompany(company)">Activate</button></td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-block btn-outline-secondary" routerLink="/add-company">Add New Company</button>
  </div>
</div>

<div id="alert" class="modal fade" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-body text-center">
          {{message}}
        </h5>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button class="btn btn-block btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>