<div>
<div class="row">
  <div class="col-lg-3 col-md-2 col-sm-1"></div>
      <div class="col-lg-6 col-md-8 col-sm-10">
    <form action="" class="form-group border p-3 p-lg-5 border-curved mt-5">
      <p class="h2 text-muted text-uppercase text-center mb-3 ">IPO</p>
   

      <label for="username">Company Name:</label>
      <select name="company" id="" class="form-control">
          <option value="apple">Apple</option>
          <option value="microsoft">Microsoft</option>
          <option value="google">Google</option>
      </select>

      <label for="username">Stock Exchange:</label>
      <select class="form-control" name="stock-exchange" id="">
          <option value="bse">BSE</option>
          <option value="nse">NSE</option>
      </select>

      <label for="username">Price per Share:</label>
      <div class="input-group">
          <div class="input-group-prepend">
              <i class="fas fa-rupee-sign input-group-text"></i>
          </div>
          <input type="number" class="form-control" placeholder="Price in Rupees">
      </div>

      <label for="username">No. of Shares:</label>
      <input type="number" class="form-control" placeholder="Total Number of Shares">

      <label for="username">Open Date-Time:</label><br>
      <input class="form-control" type="datetime-local" name="datetime" id="">

      <label for="username">Remarks:</label>
      <textarea class="form-control mb-4" name="brief" id="" cols="30" rows="3" placeholder="Remarks about this IPO"></textarea>

      <button class="btn btn-outline-success text-dark text-center form-control">Add IPO</button>
    </form>
  </div>
</div>
</div>